<main class="px-3">
    <section id="photo">
        <img src="images/cv.jpg" alt="Photo" width="50%" data-aos="zoom-in" data-aos-duration="1500"
            data-aos-anchor-placement="center-bottom" />

        <div id="triangle">
            <a class="triangle" href="#anchor"></a>
        </div>
    </section>

    <p id="anchor"></p>
    <!-- Section Expérience -->
    <section id="experience" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top-center">
        <h2>Experience</h2>
        <article>
            <h3>School project - Université de Reims Champagne-Ardenne</h3>
            <p>Reims - France</p>
            <p>(September 2023 - Actual)</p>
            <ul>
                <li>
                    Command and reconfiguration of cyber-physical production systems through algebraic synthesis and
                    prioritization of operational tasks.
                </li>
                <li>
                    Implementation of a large-scale Proof of Concept (POC) on API.
                </li>
            </ul>
        </article>
        <article>
            <h3>Draftsman - Auto-entrepreneur</h3>
            <p>France</p>
            <p>(September 2023 - Actual)</p>
            <ul>
                <li>
                    Redrawing models for manufacturing.
                </li>
            </ul>
        </article>
        <article>
            <h3>CRM Assistant - UFP (Plastic Machining & Forming)</h3>
            <p>Le Versoud - France</p>
            <p>(Jan 2023 - Feb 2023)</p>
            <ul>
                <li>
                    Developed a third-party system connected to the ERP,
                    creating a real-time production tracking through
                    handheld scanners.
                </li>
                <li>
                    Linked the system to the selling price of each piece,
                    providing insight into discrepancies and identifying
                    areas for improvement.
                </li>
            </ul>
        </article>
        <article>
            <h3>
                IPCA+T Project trainee - UFP (Plastic Machining & Forming)
            </h3>
            <p>Le Versoud - France</p>
            <p>(Jul 2022 - Feb 2023)</p>
            <ul>
                <li>
                    Managed and answered to an IPCA+T audit, formalizing
                    work methodologies and seeking areas for improvement.
                </li>
                <li>Initiated the production management system project.</li>
            </ul>
        </article>
    </section>

    <!-- Section Éducation -->
    <section id="education" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top-center">
        <h2>Education</h2>
        <article>
            <h3>University of Technology of Troyes</h3>
            <p>Industrial Automation & IT Engineering Diploma</p>
            <p>(2021 - Today)</p>
            <ul>
                <li>Modeling, analysis and control of automated systems</li>
                <li>Industry 4.0</li>
            </ul>
        </article>
        <article>
            <h3>AGH University of Science and Technology in Kraków</h3>
            <p>Exchange semester (Spring 2023)</p>
        </article>
        <article>
            <h3>IUT1 Grenoble</h3>
            <p>
                Two-year technical degree in Mechanical and Production
                Engineering
            </p>
            <p>(2019 - 2021)</p>
        </article>
    </section>

    <!-- Section Compétences -->
    <section id="skills" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top-center">
        <h2>Skills</h2>
        <article>
            <h3>Language</h3>
            <ul>
                <li>French - native</li>
                <li>Polish - proficient - C2</li>
                <li>English - upper intermediate - B2</li>
            </ul>
        </article>
        <article>
            <h3>Programming languages</h3>
            <div class="image-grid">
                <img src="images/java.png" alt="Java" data-aos="flip-right" data-aos-duration="1500"
                    data-aos-anchor-placement="center-bottom" />
                <img src="images/csharp.png" alt="C#" data-aos="flip-right" data-aos-duration="1500"
                    data-aos-anchor-placement="center-bottom" />
                <img src="images/htmlcssjs.png" alt="Html Css Js" data-aos="flip-right" data-aos-duration="1500"
                    data-aos-anchor-placement="center-bottom" />
                <img src=" images/php.png" alt="PHP" data-aos="flip-right" data-aos-duration="1500"
                    data-aos-anchor-placement="center-bottom" />
                <img src="images/sql.png" alt="SQL" data-aos="flip-right" data-aos-duration="1500"
                    data-aos-anchor-placement="center-bottom" />
                <img src="images/cpp.png" alt="C++" data-aos="flip-right" data-aos-duration="1500"
                    data-aos-anchor-placement="center-bottom" />
                <img src="images/python.png" alt="Python" data-aos="flip-right" data-aos-duration="1500"
                    data-aos-anchor-placement="center-bottom" />
            </div>
        </article>
        <article>
            <h3>Software</h3>
            <div class="image-grid">
                <img src="images/creo.png" alt="CREO data-aos=" flip-right" data-aos-duration="1500"
                    data-aos-anchor-placement="center-bottom" />
                <img src="images/solidworks.png" alt="SolidWorks" data-aos="flip-right" data-aos-duration="1500"
                    data-aos-anchor-placement="center-bottom" />
            </div>
            <div class="image-grid">
                <img src="images/unitypro.jpg" alt="Unity Pro" data-aos="flip-right" data-aos-duration="1500"
                    data-aos-anchor-placement="center-bottom" />
                <img src="images/tiaportal.png" alt="TIA Portal" data-aos="flip-right" data-aos-duration="1500"
                    data-aos-anchor-placement="center-bottom" />
                <img src="images/matlab.png" alt="matlab" data-aos="flip-right" data-aos-duration="1500"
                    data-aos-anchor-placement="center-bottom" />
                <img src="images/labview.png" alt="LabVIEW" data-aos="flip-right" data-aos-duration="1500"
                    data-aos-anchor-placement="center-bottom" />
                <img src="images/arduino.png" alt="Arduino" data-aos="flip-right" data-aos-duration="1500"
                    data-aos-anchor-placement="center-bottom" />
                <img src="images/vscode.png" alt="VS Code" data-aos="flip-right" data-aos-duration="1500"
                    data-aos-anchor-placement="center-bottom" />
                <img src="images/eclipse.png" alt="Eclipse" data-aos="flip-right" data-aos-duration="1500"
                    data-aos-anchor-placement="center-bottom" />
                <img src="images/intellij.png" alt="IntelliJ" data-aos="flip-right" data-aos-duration="1500"
                    data-aos-anchor-placement="center-bottom" />
                <img src="images/git.png" alt="Git" data-aos="flip-right" data-aos-duration="1500"
                    data-aos-anchor-placement="center-bottom" />
                <img src="images/netbeans.png" alt="Netbeans" data-aos="flip-right" data-aos-duration="1500"
                    data-aos-anchor-placement="center-bottom" />
            </div>

            <div class="image-grid">
                <img src="images/office.png" alt="Office Suite" data-aos="flip-right" data-aos-duration="1500"
                    data-aos-anchor-placement="center-bottom" />
            </div>
        </article>
        <article>
            <h3>Technical Skills</h3>
            <p>CNC and special process machine operation and programming</p>
            <p>Automation design, manufacturing maintenance</p>
            <p>
                Electronics, Instrumentation, Industrial Computing,
                Automation, Metrology
            </p>
            <p>
                LEAN manufacturing, accounting, functional
                methodology project realization
            </p>
        </article>
    </section>
    <p class="lead">
        <a href="projects" class="btn btn-lg btn-light fw-bold border-white bg-white">My projects</a>
        <a href="contact" class="btn btn-lg btn-light fw-bold border-white bg-white">Contact me</a>
    </p>

</main>