<main class="px-3">
    <section id="contact">
        <h2>Contact</h2>
        <p>Phone: <a href="tel:+33695169357">+33 6 95 16 93 57</a></p>
        <p>
            Email:
            <a href="mailto:bayle.pierre@outlook.com">bayle.pierre@outlook.com</a>
        </p>
        <p>
            LinkedIn:
            <a href="https://www.linkedin.com/in/bayle-pierre/" target="_blank">linkedin.com/in/bayle-pierre/</a>
        </p>
        <p>
            My CV in pdf:
            <a href="dl-cv" target="_blank">Click here</a>
        </p>
    </section>
</main>