<footer class="mt-auto text-white-50">
    <p><br>&copy; 2023 Pierre Bayle</p>
  </footer>
</div>
<script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="dist/aos.js"></script>
<script>
  AOS.init();
</script>

</body>

</html>