<main class="px-3">
  <div data-aos="zoom-in" data-aos-duration="2000">
    <h1 class="display-1">Pierre Bayle</h1>
  </div>
  <p class="lead">Engineering student enthousiast about automation and project
    management. Prospector of optimized solutions. Creative and
    rigorous, ready to innovate for your team!</p>
  <p class="lead">
    <a href="about-me" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more about me</a>
  </p>
</main>