<main class="px-3">
    <!-- Section Website -->
    <section id="website" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top-center">
        <h2>This Website</h2>
        <p>2023 - Personal project - Language : English / French</p>
        <article>
            <h3>Source code</h3>
            <p>
                Access to the source code :
                <a href="https://github.com/Pierrenai/website" target="_blank">Click here</a>
            </p>
        </article>
    </section>


    <!-- Section StoryQuest -->
    <section id="storyquest" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top-center">
        <h2>StoryQuest</h2>
        <p>2022 - School project - Language : French</p>
        <article>
            <h3>Presentation video</h3>
            <video width="640" height="360" controls>
                <source src="storyquest-video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </article>
        <article>
            <h3>Source code</h3>
            <p>
                Download StoryQuest source code:
                <a href="dl-storyquest" target="_blank">Click here</a>
            </p>
        </article>
    </section>

    <p class="lead">
        <a href="about-me" class="btn btn-lg btn-light fw-bold border-white bg-white">About-me</a>
        <a href="contact" class="btn btn-lg btn-light fw-bold border-white bg-white">Contact me</a>
    </p>

</main>